extends layout

block content
  img#loop(src="/images/loop-connect-logo.png", alt="")
  div.text-center
    h1= title
  form(action="/", method="POST")
    .form-group
      label.lead.font-weight-normal(for='loopid') Loop ID
        span#required.mx-2 *
      input#loopid.form-control(type='text',name='loopid',onblur="checkvalue()" required)
      input#verify(type="hidden" value="false" disabled)
      input#type(type="hidden" value="" disabled)
    .form-group
      label.lead.font-weight-normal(for='businessname') Business Name
        span#required.mx-2 *
      input#businessname.form-control(type='text',name='businessname' required)
    .form-group
      label.lead.font-weight-normal(for='businessaddress') Business Address
        span#required.mx-2 *
      input#businessaddress.form-control(type='text', name='businessaddress' required)
    .form-group
      label.lead.font-weight-normal(for='contentperson') Content Person
        span#required.mx-2 *
      input#first.form-control(type='text', placeholder='First', name='first' required)    
      input#last.form-control(type='text', placeholder='Last', name='last' required)  
    .form-group
      label.lead.font-weight-normal(for='email') Content Email
        span#required.mx-2 *
      input#email.form-control(type='email', name='email' required)     
    .form-group
      label.lead.font-weight-normal(for='mobile') Content Person's Number
        span#required.mx-2 *
      input#mobile.form-control(type='mobile', pattern="\\d{11}", title="Must be 11 digits !", placeholder='0960000000', name='mobile' required)  
    .form-group
      label.lead.font-weight-normal(for='packagefeature') Package Feature
        span#required.mx-2 *
      .form-check.my-2
        input.form-check-input#basic(type="radio", name="Feature", value="Basic Features Only" required)
        label.form-check-label(for="basic") Basic Features Only
      .form-check.my-2
        input.form-check-input#hotline(type="radio", name="Feature", value="Basic Features with Hotline")
        label.form-check-label(for="hotline") Basic Features with Hotline
    .form-group
      label.lead.font-weight-normal(for='termofuse') Terms of Use
        span#required.mx-2 *
      .form.my-2
        input.mr-2(type="checkbox" required)
        text#accept I Accept
      .form
        textarea.form-control(name="textarea", cols="1000", rows="10" disabled) Please Read Carefully&#13;&#13;TERMS OF USE &#13;These Terms of Use (“Terms“) govern your access to and use of the Service,including our mobile application, website, SMS, APIs, email notifications, applications, buttons, widgets, ads, and commerce Service(the “Service“), and any information, text, graphics, photos, works of authorship, applications, links and other content or other materials submitted by you or appearing on the Service (collectively referred to as “User Content“). Your access to and use of the Service are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Service you agree to be bound by these Terms. &#13;&#13;BASIC TERMS &#13;You are responsible for your use of the Service,for any User Content you post to the Service, and for any consequences thereof. All User Content, whether privately transmitted or publicly posted, is the sole responsibility of the person who originated such User Content. We may not monitor or control the User Content posted via the Service and, we cannot take responsibility for such User Content. Any use or reliance on any User Content or materials posted via the Service or obtained by you through the Service is at your own risk.&#13;The User Content you submit, post, or display may be viewable by other users of the Service and through third party services and websites, subject to any applicable privacy settings that you control. You should only provide User Content that you are comfortable sharing with others under these Terms.&#13;You are responsible for any activity that occurs through your account and you agree you will not sell, transfer, license or assign your account, followers, usernames, or any account rights.Loop prohibits the creation of and you agree that you will not create an account for anyone other than yourself. You also represent that all information you provide or provided to Loop upon registration and at all other times will be true, accurate,current and complete and you agree to update your information as necessary to maintain its truth and accuracy.&#13;You are responsible for keeping your password secret and secure.&#13;You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation, your or any other person’s credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.&#13;You may not use the Service for any illegal or unauthorized purpose. You agree to comply with all laws, rules and regulations (for example, federal, state, local and provincial) applicable to your use of the Service and your User Content including but not limited to, copyright laws.&#13;You must not access Loop’s APIexcept by authorized Loop client apps and permitted software approved by Loop.&#13;You must not create or submit unwanted email, comments, likes or other forms of commercial or harassing communications (a/k/a “spam”) to any Loop users.&#13;You must not interfere or disrupt the Service or servers or networks connected to the Service, including by transmitting any worms, viruses, spyware, malware or any other code of a destructive or disruptive nature.&#13;You may not inject code or otherwise alter or interfere with the software by which a Loop page is rendered or displayed in a user’s browser or device.&#13;You must not create accounts with the Service through unauthorized means, including but not limited to, by using an automated device, script, bot, spider, crawler or scraper.&#13;You must not attempt to restrict another user from using or enjoying the Service and you must not encourage or facilitate violations of these Terms of Use or any other Loop terms.&#13;Violation of these Terms of Use may, in Loop’s sole discretion, result in termination of your Loop account.&#13;GENERAL CONDITIONS&#13;We reserve the right to modify or terminate the Service or your access to the Service for any reason, without notice, at any time, and without liability to you. If we terminate your access to the Service, your content, comments, likes,friendships, and all other data will no longer be accessible through your account (e.g., users will not be able to navigateto your account and view your content), but those materials and data may persist and appear within the Service (e.g., if your User Content has been reshared by others).&#13;Upon termination, all licenses and other rights granted to you in these Terms of Use will immediately cease.&#13;In-App Purchases. We may offer certain products or services that users may purchase and use within Loop (the “In-App Products”). We reserve the right to revise the pricing for In-App Products at any time without notice to you, and you agree that all sales of In-App Products are final and we are not required to provide a refund for any reason, including termination of this agreement or your Ｌㄣaccount, which will result in you being unable to continue to use your purchased In-App Products.&#13;We reserve the right, in our sole discretion, to change these Terms of Use (“Updated Terms”) from time to time. Unless we make a change for legal or administrative reasons, we will notify you before the Updated Terms become effective. You agree that we may notify you of the Updated Terms by posting them on the Service, and that your use of the Service after the effective date of the Updated Terms (or engaging in such other conduct as we may reasonably specify) constitutes your agreement to the Updated Terms. Therefore, you should review these Terms of Use and any Updated Terms before using the Service. The Updated Terms will be effective as of the time of posting, or such later date as may be specified in the Updated Terms, and will apply to your use of the Service from that point forward. These Terms of Use will govern any disputes arising before the effective date of the Updated Terms.&#13;We reserve the right to refuse access to the Service to anyone for any reason at any time.&#13;We reserve the right to force forfeiture of any username or associated telephone number account for any reason.&#13;We may, but have no obligation to, remove, edit, block, and/or monitor User Content or accounts containing User Content that we determine in our sole discretion violates these Terms of Use. &#13;You are solely responsible for your interaction with other users of the Service, whether online or offline. You agree that Loop is not responsible or liable for the conduct of any user. Loop reserves the right, but has no obligation, to monitor or become involved in disputes between you and other users. Exercise common sense and your best judgment when interacting with others,including when you submit or post Content or any personal or other information.&#13;There may be links from the Service,or from communications you receive from the Service, to third-party web sites or features. There may also be links to third-party web sites or features in images or comments within the Service. The Service also includes third-party content that we do not control, maintain or endorse. Functionality on the Service may also permit interactions between the Service and a third-party web site or feature, including applications that connect the Service or your profile on the Service with a third-party web site or feature. For example, the Service may include a feature that enables you to share Content from the Service or your Content with a third party, which may be publicly posted on that third party’s service or application. Using this functionality typically requires you to login to your account on the third-party service and you do so at your own risk. Loop does not control any of these third-party web Service or any of their content. You expressly acknowledge and agree that Loop is in no way responsible or liable for any such third-party service or features. YOUR CORRESPONDENCE AND BUSINESS DEALINGS WITH THIRD PARTIES FOUND THROUGH THE SERVICE ARE SOLELY BETWEEN YOU AND THE THIRD PARTY.&#13;You agree that you are responsible for all data charges you incur through use of the Service.&#13;RIGHTS&#13;Loop does not claim ownership of any User Content that you post on or through the Service. Instead, you hereby grant to Loop a non-exclusive, fully paid and royalty-free,transferable, sub-licensable, worldwide license to use the User Content that you post on or submit through the Service, subject to the Service’s Privacy Policy.&#13;Some of the Service is supported by advertising revenue and may display advertisements and promotions, and you hereby agree that Loop may place such advertising and promotions on the Service or on,about, or in conjunction with your User Content. The manner, mode and extent of such advertising and promotions are subject to change without specific notice to you.&#13;You acknowledge that we may not always identify paid Service, sponsored content, or commercial communications as such.&#13;You represent and warrant that: (i) you own the User Content posted by you on or through the Service or otherwise have the right to grant the rights and licenses set forth in these Terms of Use; (ii) the posting and use of your Content on or through the Service does not violate, misappropriate or infringe on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark and/or other intellectual property rights; (iii) you agree to pay for all royalties, fees, and any other monies owed by reason of Content you post on or through the Service; and (iv) you have the legal right and capacity to enter into these Terms of Use in your jurisdiction.&#13;The Service contains content owned or licensed by Loop (“Loop Content”). Loop Content is protected by copyright, trademark,patent, trade secret and other laws, and, as between you and Loop, Loop owns and retains all rights in the Loop Content and the Service. You will not remove, alter or conceal any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Loop Content and you will not reproduce, modify, adapt, prepare derivative works based on, perform, display, publish, distribute, transmit, broadcast, sell, license or otherwise exploit the Loop Content.&#13;The Loop name and logo are trademarks of Wattertek, and may not be copied, imitated or used, in whole or in part, without the prior written permission of Wattertek, except in accordance with our brand guidelines. In addition, all page headers,custom graphics, button icons and scripts are service marks, trademarks and/or trade dress of Loop, and may not be copied, imitated or used, in whole or in part, without prior written permission from Wattertek.&#13;Although it is Wattertek’s intention for the Service to be available as much as possible, there will be occasions when the Service may be interrupted,including, without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and/or equipment. Also, Loop reserves the right to remove any User Content from the Service for any reason, without prior notice. User Content removed from the Service may continue to be stored by Loop, including, without limitation, in order to comply with certain legal obligations, but may not be retrievable without a valid court order. In other words, Loop is not a backup service and you agree that you will not rely on the Service for the purposes of Content backup or storage. Loop will not be liable to you for any modification, suspension, or discontinuation of the Service, or the loss of any Content. You also acknowledge that the Internet may be subject to breaches of security and that the submission of Content or other information may not be secure.&#13;You agree that Loop is not responsible for, and does not endorse, User Content posted within the Service. Loop does not have any obligation to prescreen, monitor, edit, or remove any User Content. If your User Content violates these Terms of Use, you may bear legal responsibility for that User Content. &#13;Except as otherwise described in the Service’s Privacy Policy, as between you and Loop, any User Content will be non-confidential and non-proprietary and we will not be liable for any use or disclosure of User Content. You acknowledge and agree that your relationship with Loop is not a confidential, fiduciary, or other type of special relationship, and that your decision to submit any User Content does not place Loop in a position that is any different from the position held by members of the general public, including with regard to your User Content. None of your User Content will be subject to any obligation of confidence on the part of Loop, and Loop will not be liable for any use or disclosure of any User Content you provide.&#13;It is Loop’s policy not to accept or consider content, information, ideas, suggestions or other materials other than those we have specifically requested and to which certain specific terms, conditions and requirements may apply. This is to avoid any misunderstandings if your ideas are similar to those we have developed or are developing independently. Accordingly, Loop does not accept unsolicited materials or ideas, and takes no responsibility for any materials or ideas so transmitted. If, despite our policy, you choose to send us content, information, ideas, suggestions, or other materials, you further agree that Loop is free to use any such content, information, ideas, suggestions or other materials, for any purposes whatsoever, including, without limitation, developing and marketing products and Service, without any liability or payment of any kind to you.&#13;END USER LICENSE AGREEMENT&#13;License to Loop app. Subject to the terms of this agreement, Loop grants you a non-transferable, non-exclusive,revocable license to: (a) use the Service for your personal non-commercial use or internal business use; (b) download, install on multiple devices and use the Loop app on mobile devices, which natively executes appropriate operating systems supported by Loop, and that you own or control (a “Permitted Devices”) for your personal non-commercial use or internal business use;and (c) use solely within Loop the In-App Products which you have purchased (the “License”).&#13;Certain Restrictions.The rights granted to you in this agreement are subject to the following restrictions: (a) you will not license, sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the Service; (b) you ill not modify, translate, adapt, merge, make derivative works of, disassemble, decompile, reverse compile or reverse engineer any part of the Service, except to the extent the foregoing restrictions are expressly prohibited by applicable law; (c) you will not execute Loop app on an emulator or on any device other than a Permitted Devices and you will not access the Service in order to build a similar or competitive service; (d) except as expressly stated herein, no part of the Service may be copied, reproduced, distributed, republished, downloaded, displayed,posted or transmitted in any form or by any means; and (e) you will not remove or destroy any copyright notices or other proprietary markings contained on or in the Service.&#13;The Service provided to you are licensed to you and not sold. Loop and Wattertek Entities (and its licensors, where applicable) own all rights, titles and interests, including all related intellectual property rights, in and to the Service, excluding your User Content. This agreement is not a sale and does not convey to you any rights of ownership in or related to the Service.&#13;DISCLAIMERS AND LIMITATIONS OF LIABILITY&#13;Please read this section carefully since it limits the liability of Loop and its parents, subsidiaries, affiliates, related companies, officers, directors, employees, agents, representatives, partners, and licensors (collectively, the “Wattertek Entities”). Each of the subsections below only applies up to the maximum extent permitted under applicable law. Some jurisdictions do not allow the disclaimer of implied warranties or the limitation of liability in contracts, and as a result the contents of this section may not apply to you. Nothing in this section is intended to limit any rights you may have which may not be lawfully limited.&#13;&#13;The Service is Available “AS-IS”. Your access to and use of the Service or any User Content are at your own risk. You understand and agree that the Service is provided to you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, WATTERTEK ENTITIES DISCLAIMS ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.&#13;Wattertek Entities makes no warranty and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of the Service or any User Content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of te Service or any User Content; (iii) the deletion of, or the failure to store or to transmit, any User Content and other communications maintained by the Service; and (iv) whether the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from Loop or through the Service, will create any warranty not expressly made herein.&#13;Links&#13;The Service may contain links to third-party websites or resources. You acknowledge and agree that Wattertek Entities are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Wattertek Entities of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risks arising from your use of any such websites or resources.&#13;&#13;Limitation of Liability&#13;TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WATTERTEK ENTITIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF GRAPHITI EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID LOOP, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM.THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE WATTERTEK ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.&#13;&#13;GENERAL TERMS&#13;Waiver and Severability&#13;The failure of Wattertek Entities to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.&#13;&#13;Controlling Law and Jurisdiction&#13;These Terms and any action related thereto will be governed by the laws of the Taiwan without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in Taipei, Taiwan, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum.&#13;&#13;Entire Agreement&#13;These Terms and our Privacy Policy are the entire and exclusive agreement between Wattertek Entities and you regarding the Services (excluding any services for which you have a separate agreement with Wattertek Entities that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior agreements between Wattertek Entities and you regarding the Service. Other than members of the group of companies of which Wattertek is the parent, no other person or company will be third party beneficiaries to the Terms.&#13;&#13;These Services are operated and provided by Wattertek. If you have any questions about these Terms, please contact us at support@wattertek.com
    button#submit(type="submit", class="btn btn-primary") Submit  

  script.
    function getSalt(typecode, callbak) {
      let url = "";
      if (typecode == 1) {
        url = "http://loop.wattertek.com/rest/sys";
      } else {
        url = "http://ph1.wattertek.com/rest/sys";
      }
      $.ajax({
        type: 'POST',
        url: url,
        data: '{"cid":"4b7cc569-4dd3-3265-bac3-26eaba31266e","tag":103,"cmd":{"type":"GetSalt", "value":{}}}',
        headers: {
          'Content-Type': 'application/json',
        },
        success: function (result) {
          var obj = result.rlt.value.salt
          callbak(null,obj);
        },
        error: function (xhr, error, thrownError) {
          console.log(error)
        }
      });
    }

    function checkloopid(typecode, type, id, salt){
      return new Promise(function (resolve, reject){
      let url = "";
      if (typecode == 1) {
        url = "http://loop.wattertek.com/rest/sys";
      } else {
        url = "http://ph1.wattertek.com/rest/sys";
      }
      $.ajax({
        type: 'POST',
        url: url,
        data: '{\"cid": "4b7cc569-4dd3-3265-bac3-26eaba31266e",\"tag": 126,\"cmd": {\"type": "CheckId",\  "value": {\"id": {\"type": "' + type + '",\"id": "' + id + '"\},\"salt": "' + salt + '",\"dmid":"c21f969b-5f03-433d-95e0-4f8f136e7682"\}\}\}',
        headers: {
          'Content-Type': 'application/json',
        },
        success: function (result) {
          var obj = result.rlt.type
          resolve(obj)
        },
        error: function (xhr, error, thrownError) {
          console.log(error)
        }
      });

      })
    }
    
    function checkvalue() {
      var loopid = $("#loopid").val() 
      if (loopid != "") {
        checkemail(loopid,function(value){
          console.log(value)
          if(value){
            $("#type").val("email")
          }else{
            $("#type").val("mobile")
          }
          
        })
        getSalt(1, function (error, value) {
          salt = value;
          console.log('Salt:', salt);
          let type = $("#type").val();
          let check = checkloopid(1, type, loopid, salt)
          check.then((value) => {
          let obj = value.split(".")
          let result = obj[1]
          if (result == "NotAvailable") {
            alert("Your Loopid is available")
            $("#businessname").next(':input').focus()
            $("#verify").val("true");
          } else {
            alert("Loopid is not exist")
            $("#loopid").val("");
            $("#verify").val("false");
          }
        })
        })
      }else{

      }

    }


    function checkemail(email,callbak){
      let emailrule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
      if(email.search(emailrule)!= -1){
        callbak(true)
      }else{
        callbak(false)
      }


    }


  