doctype html
html
  head
    title= title
    include includes/css/jquery-ui.jade
    include includes/css/bootstrap.jade
    
    link(rel='stylesheet', href='/css/style.css')

    include includes/js/jquery.jade
    include includes/js/jquery-ui.jade
    include includes/js/bootstrap.jade

  body
    block content