extends layout

block content
  h4 Complete application ! The page will redirected to Home page.
  a(href='https://www.loopconnect.ph/') Click here if you are not redirected

  script.
    $(document).ready(function(){
      setTimeout("location.href='https://www.loopconnect.ph/'",3000)
    });
    

