body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span#required{
  color: rgb(255, 0, 0)
}

img#loop{
  width:174px ;
  height:106px ; 
}

text#accept{
  font-size: 16px
}